[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MPCI"]
	path = MPCI
	url = https://github.com/cran/MPCI
[submodule "SSNbayes"]
	path = SSNbayes
	url = https://github.com/edgarsantos-fernandez/ssnbayes
